<nav class="nav bd-grid">
    <div>
        <a href="#" class="nav__logo">Daniel</a>
    </div>

    <div class="nav__menu" id="nav-menu">
        <ul class="nav__list">
            <li class="nav__item"><a [routerLink]="['home']" class="nav__link" routerLinkActive="active">Inicio</a></li>
            <li class="nav__item"><a [routerLink]="['about']" class="nav__link" routerLinkActive="active">Sobre mi</a></li>
            <li class="nav__item"><a [routerLink]="['skills']" class="nav__link" routerLinkActive="active">Habilidades</a></li>
            <li class="nav__item"><a [routerLink]="['portfolio']" class="nav__link" routerLinkActive="active">Portafolio</a></li>
        </ul>
    </div>

    <div class="nav__toggle" id="nav-toggle">
        <i class='bx bx-menu'></i>
    </div>
</nav>